@charset "UTF-8";
/* CБРОС СТИЛЕЙ */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* ОБЩИЕ */
img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

/* УБИРАЕМ ПОДЧЕРКИВАНИЕ */
.decoration {
  text-decoration: none;
}

/* УБИРАЕТ ЭФФЕКТ СПИСКА */
.list {
  list-style: none;
}

/* НАСТРАИВАЕМ ПРАВИЛЬНЫй РАЗМЕР БЛОКОВ */
html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* СПРЯТАННЫЕ ЭЛЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
  }
}
@media screen and (max-width: 767px) {
  .title {
    font-size: 28px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.16;
  }
}
/* КОНТАКТЫ */
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: column;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    flex-direction: row;
  }
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 10px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link .contacts__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__link:hover .contacts__icon,
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/* ЛОГО */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  /* LOGO BLACK*/
  /* LOGO WHITE*/
}
.logo__prefix-color {
  color: var(--accent-color);
}
.logo--dark {
  color: #000000;
}
@media screen and (min-width: 768px) {
  .logo--dark {
    margin-right: 88px;
  }
}
@media screen and (min-width: 768px) {
  .logo--dark {
    margin-right: 93px;
  }
}
.logo--light {
  color: var(--main-color);
  margin-bottom: 20px;
}

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 450px;
  height: 609px;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 39px 40px 41px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal .modal-close {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.close-icone {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icone:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

/* ФОРМА */
.modal-form {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-field {
  width: 100%;
  position: relative;
}

.modal-field-check-box {
  text-align: center;
}

.modal-lable {
  display: block;
  font-size: 12px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.15;
  color: rgba(0, 0, 0, 0.1490196078);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.online-comment:focus {
  border-color: var(--accent-color);
}

::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-border {
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  /* fill: var(--main-color); */
  color: transparent;
  position: relative;
  bottom: -2px;
}

.check-icon {
  fill: currentColor;
}

.modal-check:checked + .check-text .icon-border {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--main-color);
}

.button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button--modal-position {
  padding: 10px 52px;
  border: 0;
}
.button--modal-position:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.privacy {
  color: var(--accent-color);
  position: relative;
}
.privacy::after {
  content: "";
  height: 0.5px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 1px;
  left: 0;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.social__link {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}
.social__link:hover .social__icone, .social__link:focus .social__icone {
  fill: var(--main-color);
}
.social__icone {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* СОЦ СЕТИ ФУТЕР */
.social__link--dark-background {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icone--white-fill {
  fill: var(--main-color);
}

.address {
  display: flex;
  justify-content: center;
}
.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.address__link-map {
  line-height: 1.71;
  color: var(--main-color);
  font-style: normal;
}
.address__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

/* ФУТЕР ФОРМА ОТПРАВКИ ИМЕЙЛА ДЛЯ ПОДПИСКИ!!!!!!!!!! */
.form-footer {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.form-footer__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px 16px;
  outline: none;
}
.form-footer__input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .form-footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.form-footer--column {
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .form-footer--column {
    flex-direction: row;
    gap: 12px;
  }
}

.button--footer-submit {
  padding: 10px 28px;
  border: 0;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button--footer-submit {
  padding: 10px 28px;
  border: 0;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}

/* НАВИГАЦИЯ */
.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: contents;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    gap: 51px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    gap: 46px;
  }
}

.navigation__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding: 32px 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link--active {
  color: var(--accent-color);
  position: relative;
}
.navigation__link--active::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1.5px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    bottom: -2.6px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link--active::after {
    bottom: -1.5px;
  }
}

button {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icone {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button--medium {
  padding: 10px 32px;
}

/* ПОТРФОЛИО!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* КНОПКИ */
.filter {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
.filter .button:hover, .filter .button:focus {
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    justify-content: center;
  }
}
.filter li .filter__item--active {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.filter__list .button--filter {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-text-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  background-color: var(--team-block-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  background-color: var(--main-color);
  position: absolute;
  right: 25px;
  top: 21px;
  justify-content: center;
  align-items: center;
}

.menu-close-icone {
  width: 19px;
  height: 19px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-icone:hover {
  fill: var(--accent-color);
}

.mob-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-bot {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.mob-menu-active {
  color: var(--accent-color);
}

.mob-menu-connect-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu-connect-link {
  margin-top: auto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu-connect-link-p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-social {
  display: flex;
  gap: 10px;
}

.mob-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  position: relative;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu-social-span {
  display: flex;
  gap: 10px;
}

.mob-menu-social-span:after {
  content: "";
  display: block;
  width: 1px;
  height: 22px;
  background-color: var(--accent-color);
}

.menu-open__icon {
  display: flex;
  width: 24px;
  height: 16px;
  align-items: center;
  justify-content: center;
}

.menu-open {
  background-color: transparent;
}

/* СЕКЦИЯ ПРЕИМУЩЕСТВА */
.about {
  display: flex;
  width: 480px;
}
@media screen and (min-width: 768px) {
  .about {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    width: 270px;
  }
}
.about__icon-box {
  background-color: var(--team-block-color);
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.about__icon-item {
  width: 70px;
  height: 70px;
}
.about__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .about__title {
    max-width: 354px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    max-width: 270px;
  }
}
.about__description {
  font-size: 14px;
  line-height: 1.71;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .about__description {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__description {
    max-width: 270px;
  }
}

/* ФУТЕР */
.footer {
  padding: 60px 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}
.footer__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__box--margin-top {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box--margin-top {
    margin-top: 0;
  }
}

footer {
  background-color: var(--gray-block-color);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 15px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
  }
  .footer__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 15px;
    justify-content: space-between;
  }
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 20px;
  }
}
.header-positioner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0;
  }
}

/* СЕКЦИЯ ГЕРОЙ */
.hero {
  background-color: #c4c4c4;
  padding-top: 53px;
  padding-bottom: 53px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-imag.jpg);
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/studio/header-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/studio/header-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/studio/header-desktop@2x.jpg);
  }
}
.hero__wrapper {
  min-height: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 700px;
  }
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
.pictures {
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .pictures {
    display: flex;
  }
}
.pictures__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.pictures__wrap {
  position: relative;
}
.pictures__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
}

/* НАША КОМАНДА */
.profile-card {
  background-color: var(--team-block-color);
}
.profile-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.profile-card__item {
  border-radius: 0 0 4px 4px;
  background-color: var(--main-color);
  box-shadow: 0 1px 3px var(--shadow-1), 0 1px 1px var(--shadow-2), 0 2px 1px var(--shadow-3);
}
.profile-card__description {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .profile-card__description {
    padding-bottom: 30px;
  }
}
.profile-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--title-text-color);
}
.profile-card__text {
  margin-bottom: 16px;
}

/* Постійні клієнти */
.vector-card__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .vector-card__title {
    margin-bottom: 50px;
  }
}
.vector-card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.vector-card__link {
  display: flex;
  overflow: hidden;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .vector-card__link {
    width: 170px;
    height: 92px;
  }
}
.vector-card__link:hover, .vector-card__link:focus {
  border: 1px solid var(--accent-color);
}
.vector-card__link:hover .vector-card__icon,
.vector-card__link:hover .vector-card__icon, .vector-card__link:focus .vector-card__icon,
.vector-card__link:focus .vector-card__icon {
  fill: var(--accent-color);
}
.vector-card__icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* НАШИ РАБОТЫ */
.gallary {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .gallary {
    padding: 94px 0;
  }
}
.gallary__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallary__item {
  width: 100%;
  /* display: block
  ; */
  /* position: relative; */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .gallary__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallary__item {
    width: calc((100% - 60px) / 3);
  }
}
.gallary__item:hover .gallary__top-text {
  transform: translateY(0);
}
.gallary__item:hover, .gallary__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallary__top-wrap {
  position: relative;
  overflow: hidden;
}
.gallary__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .gallary__top-text {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .gallary__top-text {
    padding: 63px 24px;
  }
}
.gallary__img {
  display: block;
  background-color: #ffffff;
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .gallary__img {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .gallary__img {
    width: 370px;
    height: 294px;
  }
}
.gallary__box {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) {
  .gallary__box {
    padding-left: 24px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .gallary__box {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.gallary__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --gray-block-color: #2f303a;
  --team-block-color: #f5f4fa;
  --transperent-white: rgba(255, 255, 255, 0.6);
  --shadow-1: rgba(0, 0, 0, 0.12);
  --shadow-2: rgba(0, 0, 0, 0.14);
  --shadow-3: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */