:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --gray-block-color: #2f303a;
  --team-block-color: #f5f4fa;
  --transperent-white: rgba(255, 255, 255, 0.6);
  --shadow-1: rgba(0, 0, 0, 0.12);
  --shadow-2: rgba(0, 0, 0, 0.14);
  --shadow-3: rgba(0, 0, 0, 0.2);
}