/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.pictures {
  padding-top: 47px;
  padding-bottom: 94px;
  display: none;
  @media screen and (min-width: 1200px) {
      display: flex;
    }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  &__wrap {
    position: relative;
  }
  
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px 0;
  }
}


