/* НАША КОМАНДА */

.profile-card {
  background-color: var(--team-block-color);

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  &__item {
    border-radius: 0 0 4px 4px;
    background-color: var(--main-color);
    box-shadow: 0 1px 3px var(--shadow-1), 0 1px 1px var(--shadow-2),
      0 2px 1px var(--shadow-3);
  }
  
  &__description {
    padding-top: 30px;
    padding-bottom: 24px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    @media screen and (min-width: 1200px) {
      padding-bottom: 30px;   
    }
  }
  
  &__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--title-text-color);
  }
  
  &__text {
    margin-bottom: 16px;
  }

}